<!-- Created 5.11.2015 by JD Version 1.0-->

<!-- Das folgende File enthält die HTML Elemente der Seite New. Sie dient zur Vorlage von
 neuen Seiten der App-->



<ion-view view-title="Einstellungen">
  <ion-content>
      <div class="list">

          <a class="item item-icon-left" href="#">
              <i class="icon ion-person"></i>
              Mein Profil
              <span class="item-note">Kurt Brönnimann</span>
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-person-stalker"></i>
              Profil wechseln
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-android-watch"></i>
              Mit Smart Watch verbinden
    <label class="toggle" href="#">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
          </a>

          <a class="item item-icon-left" href="#/app/login">
              <i class="icon ion-chevron-right"></i>
              Logout
          </a>

  </ion-content>
</ion-view>
