<!-- Created 5.11.2015 by JD Version 1.0-->

<!-- Das folgende File enthält die HTML Elemente der Seite Hilfe.
Es sind einfache HTML Elemente, welche ein Bild, Telefonnummer und E-Mail anzeigt. -->


<ion-view view-title="Hilfe">
  <ion-content>

    <div class="img animated bounceInDown">
      <img src="images/help.png" width="220" height="220">
      <style>

        div.img {
          margin: 5px;
          padding: 5px;
          text-align: center;
        }
      </style>
    </div>

    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Ruf mich an
        <b><span class="item-note balanced">+41 44 123 4567</span></b>
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-mail"></i>
        Schreib mir eine E-Mail
        <b><span class="item-note positive">help@bfh.ch</span></b>
      </a>
    </div>

  </ion-content>
</ion-view>
