<!-- Created 5.11.2015 by JD Version 1.0-->

<!-- Das folgende File enthält die HTML Elemente der Seite Arzneimittelinformationen.
Hier können Informationen zu Arzneimittel vom Compendium der Firma Documed abgerufen werden-->

<ion-view view-title="Arzneimittelinformationen">
  <ion-content ng-controller="AppCtrl" overflow-scroll="true">

    <div ng-controller="InAppBrowser" ng-init="openCompendium()">

    </div>



    <!--<div class="frame">-->
      <!--<iframe width="100%" height="100%" src="https://compendium.ch/prod/marcoumar-tabl-3-mg/de"></iframe>-->
    <!--</div>-->

  </ion-content>
</ion-view>
