<!-- Created 25.10.2015 by JD Version 1.0-->

<!-- Das folgende File enthält die HTML Elemente welche das Einloggen des Benutzers ermöglichen -->

<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <!--<link href="styles/login.css" rel="stylesheet">-->
  </ion-header-bar>

  <ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
      <div class="list list-inset">

        <!-- App-Logo -->

        <div class="img">
          <img src="images/broennimann.png" alt="HTML5 Icon" width="420" height="300">
          <style>

            div.img {
              margin: 5px;
              padding: 5px;
              height: auto;
              width: auto;
              text-align: center;
            }
          </style>
        </div>

        <!-- Formulare zur Einhabe des Benutzernamens und Passwort -->

        <label class="item item-input">
          <input type="text" placeholder="E-Mail" ng-model="data.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Passwort" ng-model="data.password">
        </label>
      </div>
      <button autofocus class="button button-block button-calm" ng-click="login()"  >Login</button>

      <div class="buttons">
        <button class="button button-clear" ng-controller="PopupCtrl" ng-click="showAlert()">Passwort vergessen</button>
      </div>

      <!-- Hinweis zur Eingabe der Credentials (für Testzwecke) -->

      <a>Benutzername: kurt@bfh.ch</a>
      <a>Passwort: elisabeth</a>
    </ion-content>
  </ion-view>
</ion-modal-view>
