<!-- Created 5.11.2015 by JD Version 1.0-->

<!-- Das folgende File enthält die HTML Elemente der Seite Mediscan.
Hier wird das Scannen einer Medikamentenverpackung simuliert. Der Code hier müsste durch einen Aufruf eines Plugins bzw. QR-Code Readers ersetzt werden. -->

<ion-view view-title="Medikament scannen">
  <ion-content ng-controller="PopupCtrl" ng-init="redirectMediscan()">

    <img src="images/app_scan.png" alt="Medikamenten-Scan" style="width:100%;height:100%;">

  </ion-content>
</ion-view>
