<!-- Created 8.11.2015 by MZ Version 1.0-->

<!-- Statistik: zeigt die Statistik der bereits eingenommenen Medikamente, sowie nicht eingenommene Medikamente und jeweils das Total
für Heute / 7 Tage / 4 Wochen / 1 Jahr -->

<ion-view view-title="Statistik" ng-controller="TodoList">

  <ion-tabs class="tabs-dark tabs-striped tabs-icon-top"> <!-- GUI für Tabs , Teil vom Ionic Framework -->

    <!-- Tab für "Heute" -->
    <ion-tab title="Heute" icon-on="ion-android-done" icon-off="ion-android-done"> <!-- Icon on: weiss, icon off: grau -->
      <ion-nav-view name="heute">

        <ion-content padding="true" has-header="true" ng-controller="DoughnutCtrl">
            <br>
          <canvas id="doughnut"
                  class="chart chart-doughnut"
                  height="100%"
                  width="100%"
                  chart-data="doughnutdata"
                  chart-labels="labels"
                  chart-legend="labels"
                  chart-colours="colours">
          </canvas>

        </ion-content>

      </ion-nav-view>
    </ion-tab>

    <!-- Tab für "7 Tage" -->
    <ion-tab title="7 Tage" icon-on="ion-android-done-all" icon-off="ion-android-done-all">
      <ion-nav-view name="7tage">

        <ion-content padding="true" has-header="true" ng-controller="RadarCtrl" class="animated zoomIn"> <!-- Animatation mit animate.css -->
            <br>
          <canvas id="radar"
                  class="chart chart-radar"
                  height="100"
                  width="100"
                  chart-data="data"
                  chart-series="series"
                  chart-legend="series"
                  chart-labels="labels"
                  chart-colours="colours">
          </canvas>

        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <!-- Tab für 4 Wochen -->
    <ion-tab title="4 Wochen" icon-on="ion-grid" icon-off="ion-grid">
      <ion-nav-view name="4wochen">

        <ion-content padding="true" has-header="true" ng-controller="BarCtrl">
            <br>
          <canvas id="bar"
                  height="100"
                  width="100"
                  class="chart chart-bar"
                  chart-data="data"
                  chart-labels="labels"
                  chart-series="series"
                  chart-legend="series"
                  chart-colours="colours">
          </canvas>

        </ion-content>

      </ion-nav-view>
    </ion-tab>

    <!-- Tab für 1 Jahr -->
    <ion-tab title="1 Jahr" icon-on="ion-calendar" icon-off="ion-calendar">
      <ion-nav-view name="1jahr">

          <ion-content padding="true" has-header="true" ng-controller="LineCtrl">
              <br>
            <canvas id="line"
                    class="chart chart-line"
                    height="100"
                    width="100"
                    chart-data="data"
                    chart-labels="labels"
                    chart-legend="series"
                    chart-series="series"
                    chart-colours="colours">
            </canvas>

          </ion-content>
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
