<!-- Created 5.11.2015 by MZ Version 1.0-->

<!-- Das folgende File enthält die HTML Elemente der Seite New. Sie dient zur Vorlage von
 neuen Seiten der App-->

<ion-view view-title="Statistik">

  <ion-tabs class="tabs-dark tabs-striped tabs-icon-top"> <!-- GUI für Tabs -->

    <ion-tab title="Heute" icon-on="ion-android-done" icon-off="ion-android-done"> <!-- Icon on: weiss, icon off: grau -->
      <ion-nav-view name="heute">

        <ion-content padding="true" has-header="true" ng-controller="DoughnutCtrl">
          <br> <!-- Abstand vom oberen Menu-Rand -->
          <br>

          <canvas id="doughnut"
                  class="chart chart-doughnut"
                  height="100%"
                  width="100%"
                  chart-data="data"
                  chart-labels="labels"
                  chart-legend="labels"
                  chart-colours="colours">
          </canvas>

        </ion-content>

      </ion-nav-view>
    </ion-tab>

    <ion-tab title="7 Tage" icon-on="ion-android-done-all" icon-off="ion-android-done-all">
      <ion-nav-view name="tab-2">
        <ion-content padding="true" has-header="true" ng-controller="RadarCtrl" class="animated zoomIn">
          <br>
          <br>

          <canvas id="radar"
                  class="chart chart-radar"
                  height="100"
                  width="100"
                  chart-data="data"
                  chart-series="series"
                  chart-legend="series"
                  chart-labels="labels"
                  chart-colours="colours">
          </canvas>

        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="4 Wochen" icon-on="ion-grid" icon-off="ion-grid">
      <ion-nav-view name="tab-3">

        <ion-content padding="true" has-header="true" ng-controller="BarCtrl">
          <br>
          <br>

          <canvas id="bar"
                  height="100"
                  width="100"
                  class="chart chart-bar"
                  chart-data="data"
                  chart-labels="labels"
                  chart-series="series"
                  chart-legend="series"
                  chart-colours="colours">
          </canvas>

        </ion-content>

      </ion-nav-view>
    </ion-tab>

    <ion-tab title="1 Jahr" icon-on="ion-calendar" icon-off="ion-calendar">
      <ion-nav-view name="tab-4">

          <ion-content padding="true" has-header="true" ng-controller="LineCtrl">
            <br>
            <br>

            <canvas id="line"
                    class="chart chart-line"
                    height="100"
                    width="100"
                    padding-left="10px"
                    chart-data="data"
                    chart-labels="labels"
                    chart-legend="true"
                    chart-series="series"
                    chart-click="onClick"
                    chart-colours="colours">
            </canvas>

          </ion-content>

      </ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
